* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0px;
  color: white;
  font-family: "Outfit";
  background-color: rgba(50, 50, 50);
}

.main {
  position: absolute;
  top: 10%;
  left: 10%;
  border: 2px solid blue;
  width: 80%;
}

section {
  display: block;
  padding: 2rem 0 4rem;
}

.container {
  max-width: 1200px;
}
